---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <p class="title">小伙纸的杂货间</p>
      <p class="sub-title">喵喵?喵喵喵?喵喵喵!</p>
    </main>
    <Footer />
  </body>
</html>
<style>
  main {
    width: 960px;
    margin: 2rem auto;
  }
  .title {
    margin: 0;
    font-size: 2.369rem;
    color: rgb(var(--black));
    line-height: 1;
    text-align: center;
  }
  .sub-title {
    margin: 2;
    font-size: 1.25rem;
    color: rgb(var(--gray));
    line-height: 1.5;
    text-align: center;
  }
</style>
